@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;1,300;1,700&display=swap');

body {
    margin: 3px;
    padding: 5px;
    background-image: url("./media/poker-table.jpg");
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

header {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.16);
}


h1 {
    padding: 5px;
    margin: 5px;
    color: aliceblue;
    font-size: 42px;
    font-style: bold;
    text-shadow: 1px 1px 1px rgba(11, 11, 11, 0.444),
        1px 1px 3px rgba(0, 0, 0, 0.444);
}


.action-button {
    position: relative;
    background-color: rgba(0, 0, 0, 0.200);
    border: 2px solid #000000;
    font-size: 15px;
    color: #FFFFFF;
    padding: 5px;
    width: 150px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.action-button:hover {
    background-color: #242222;
    color: #FFFFFF;
}


#game-table {
    display: grid;
    justify-content: center;
    border-collapse: collapse;
    padding: 10px;
    margin: 20px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}

#game-table thead tr {
    background-color: rgba(0, 0, 0, 0.425);
    color: #ffffff;
    margin: 5px;
    text-align: center;
    width: auto;
    height: 30px;
}

#game-table th,
#game-table td {
    padding: 5px;
    display: inline-block;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.205);
    width: 300px;
    font-size: 18px;
    color: #FFFFFF;
    height: auto;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 50%;
}